body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}




#carouselSite{
    margin-bottom: 4px;
}

.containerConteudo{
    max-width: 1140px;
}

.containerConteudo{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}



h2{
    margin-top: 0;
}

.btn-secondary {
    color: white;
    background-color: #087b80;
    border-color: #087b80;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-decoration: none;
}

.btn a:hover {
    text-decoration: none;
}

.btn-sucess:hover {
    color: #000000;
    background: #FFFFFF;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*, ::after, ::before {
    box-sizing: border-box;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
}

.containerConteudo .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 5rem 0;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.featurette-heading{
    margin-top: 7rem;
    font-size: 50px;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}



/*#087b80 = Flamel
#333333 = BUFFET
#cbbc87 = dourado
#e4e3e5 = prateado
#0a7c81 = ciano rodelinha*/